.section-8 {
   padding: 90px 20px;

   &__header {
      margin-bottom: 30px;
      @include lg {
         margin-bottom: 50px;
      }
   }

   &__title {
      max-width: 400px;
      font: var(--font_sec3_title);
      @include md {
         max-width: 550px;
      }
      @include xxxl {
         max-width: 750px;
      }
   }

   &__grid-container {
      grid-template-columns: 1fr;
      @include sm {
         grid-template-areas:
            "card_1 card_2"
            "social social"
            "img img";
         grid-template-columns: 1fr 1fr;
      }
      @include md {
         grid-template-areas:
            "card_1 social"
            "card_2 social"
            "img img";
      }
      @include lg {
         grid-template-areas:
            "card_1 social img"
            "card_2 social img";
         grid-template-columns: 1fr 1fr 0.7fr;
      }
   }

   &__card {
      padding: 20px;

      &-1 {
         @include sm {
            grid-area: card_1;
         }
      }

      &-2 {
         @include sm {
            grid-area: card_2;
         }
      }

      &-title {
         margin-bottom: 30px;
         font: var(--font_card_title);
         @include sm {
            max-width: 350px;
         }
      }

      &-bullet {
         gap: 10px;
      }

      &-bullet-item {
         gap: 10px;
         font: var(--font_bullet_item);

         &::before {
            display: inline-block;
            min-width: 4px;
            min-height: 4px;
            max-height: 4px;
            margin-top: 8px;
            background-color: var(--color_text);
            border-radius: 100px;
            content: " ";
            @include xl {
               min-width: 6px;
               min-height: 6px;
               max-height: 6px;
               margin-top: 9px;
            }
         }

         @include sm {
            max-width: 350px;
         }
         @include xxl {
            max-width: 380px;
         }
      }

      &-adress {
         font-style: normal;
      }

      &-link {
         color: var(--color_text);
         transition: all 0.2s linear;

         &:hover {
            color: var(--color_pink);
         }
      }
      @include xl {
         padding: 30px;
      }
      @include xxxl {
         padding: 35px;
      }
   }

   &__social-box {
      gap: 10px;
      @include sm {
         grid-area: social;
      }
      @include lg {
         gap: 15px;
      }
      @include xxxl {
         gap: 25px;
      }
   }

   &__social-item {
      height: 75px;
      padding: 20px;
      border: 1px solid var(--color_text);
      border-radius: 50px;
      transition: background-color 0.3s linear;

      &:hover {
         color: var(--color_text);
         background-color: var(--color_secondary);
         border: 1px solid var(--color_secondary);
      }
      @include sm {
         padding: 25px;
      }
      @include lg {
         height: 80px;
      }
      @include xl {
         height: 90px;
      }
      @include xxxl {
         height: 110px;
         padding: 30px;
      }
   }

   &__social-link {
      height: 13px;
      color: var(--color_text);
      font: 600 16px/1 "Circe";
      @include xl {
         height: 15px;
         font: 600 18px/1 "Circe";
      }
      @include xxxl {
         height: 18px;
         font: 600 22px/1 "Circe";
      }
   }

   &__social-btn {
      top: calc(50% - 16px);
      right: 20px;
      z-index: 1;
      width: 32px;
      height: 32px;
      padding: 8px;
      border-radius: 100px;

      &-line {
         width: 100%;
         height: auto;
      }
      @include sm {
         right: 25px;
      }

      @include md {
         top: calc(50% - 20px);
         width: 40px;
         height: 40px;
         padding: 12px;
      }
      @include xxl {
         top: calc(50% - 22px);
         width: 45px;
         height: 45px;
      }
      @include xxxl {
         top: calc(50% - 27px);
         right: 30px;
         width: 55px;
         height: 55px;
         padding: 14px;
      }
   }

   &__btn {
      height: 75px;
      font: 600 16px/1.3 "Circe";
      border-radius: 50px;
      transition: all 0.3s linear;

      &:hover {
         color: var(--color_text);
         background-color: transparent;
         border: 1px solid var(--color_text);
      }
      @include lg {
         height: 80px;
      }
      @include xl {
         height: 90px;
         font: 600 18px/1.3 "Circe";
      }
      @include xxxl {
         height: 110px;
         font: 600 24px/1.3 "Circe";
      }
   }

   &__picture {
      @include sm {
         grid-area: img;
      }
   }

   &__img {
      height: auto;
      min-height: 370px;
      object-fit: cover;
      @include md {
         max-height: 420px;
         object-position: top;
      }
      @include lg {
         min-height: 100%;
         max-height: auto;
         object-position: center;
      }
      @include lg {
         height: 80px;
      }
   }
   @include md {
      padding: 120px 20px;
   }
   @include lg {
      padding: 140px 30px;
   }
   @include xl {
      padding: 160px 30px;
   }
   @include xxl {
      padding: 180px 30px;
   }
   @include xxxl {
      padding: 200px 30px;
   }
}
