.section-2 {
   padding: 80px 20px;

   &__grid-container {
      grid-row-gap: 10px;
      grid-template-columns: 1fr;
      @include sm {
         gap: 25px;
      }
      @include md {
         grid-template-areas:
            "img"
            "box";
      }
      @include lg {
         grid-template-areas: "img box";
         grid-template-columns: 1fr 1fr;
      }
      @include xl {
         grid-template-areas: "img box";
         grid-template-columns: 0.9fr 1.1fr;
      }
   }

   &__servises-box {
      grid-row-gap: 10px;
      grid-template-columns: 1fr;
      @include sm {
         grid-template-columns: 1fr 1fr;
         gap: 25px;
      }
      @include md {
         grid-area: box;
      }
   }

   &__servises-title {
      left: 20px;
      bottom: 20px;
      z-index: 1;
      font: 600 16px/1.3 "Circe";
      color: var(--color_text);
      transition: color 0.4s linear;
      @include sm {
         max-width: 200px;
         font: 600 18px/1.3 "Circe";
      }
      @include md {
         left: 30px;
         bottom: 30px;
         font: 600 22px/1.3 "Circe";
      }
      @include xxl {
         left: 35px;
         bottom: 35px;
         font: 600 24px/1.3 "Circe";
      }
      @include xxxl {
         left: 40px;
         bottom: 40px;
         font: 600 26px/1.3 "Circe";
      }
   }

   &__servises-img {
      visibility: hidden;
      left: 0;
      top: 0;
      z-index: 0;
      width: 100%;
      height: 110px;
      opacity: 0;
      object-fit: cover;

      @include sm {
         height: 170px;
      }
      @include md {
         height: 200px;
      }
      @include lg {
         transition: all 0.4s linear;
      }
      @include xl {
         height: 220px;
      }
      @include xxl {
         height: 270px;
      }
      @include xxxl {
         height: 360px;
      }
   }

   &__servises-item {
      cursor: pointer;
      overflow: hidden;
      height: 100px;

      &:hover > .section-2__servises-picture > .section-2__servises-img {
         visibility: visible;
         opacity: 1;
      }

      &:hover > .section-2__servises-title {
         color: var(--color_base);
      }
      @include sm {
         height: 170px;
      }
      @include md {
         height: 200px;
      }
      @include xl {
         height: 220px;
      }
      @include xxl {
         height: 270px;
      }
      @include xxxl {
         height: 360px;
      }
   }

   &__servises-btn {
      right: 20px;
      top: 20px;
      z-index: 1;
      width: 32px;
      height: 32px;
      padding: 8px;
      border-radius: 100px;

      &-line {
         width: 100%;
         height: auto;
      }
      @include md {
         right: 30px;
         top: 30px;
         width: 40px;
         height: 40px;
         padding: 12px;
      }
      @include xxl {
         right: 35px;
         top: 35px;
         width: 45px;
         height: 45px;
      }
      @include xxxl {
         right: 40px;
         top: 40px;
         width: 55px;
         height: 55px;
         padding: 14px;
      }
   }

   &__hero-picture {
      @include md {
         grid-area: img;
      }
   }

   &__hero-img {
      height: auto;
      object-fit: cover;
      @include md {
         height: 370px;
      }
      @include lg {
         height: 425px;
      }
      @include xl {
         height: 465px;
      }
      @include xxl {
         height: 565px;
      }
      @include xxxl {
         height: 745px;
      }
   }
   @include md {
      padding: 100px 20px;
   }
   @include lg {
      padding: 140px 30px;
   }
   @include xl {
      padding: 160px 30px;
   }
   @include xxl {
      padding: 180px 30px;
   }
   @include xxxl {
      padding: 260px 30px;
   }
}
