.section-6 {
   &__picture {
      &::before {
         position: absolute;
         top: 0;
         left: 0;
         z-index: 1;
         display: block;
         width: 100%;
         height: 100%;
         background-color: #000;
         opacity: 0.4;
         content: " ";
      }
   }

   &__hero {
      width: 100%;
      height: 350px;
      object-fit: cover;
      @include sm {
         height: 400px;
      }
      @include md {
         height: 460px;
      }
      @include lg {
         height: 580px;
      }
      @include xl {
         height: 760px;
      }
      @include xxl {
         height: 840px;
      }
      @include xxxl {
         height: 980px;
      }
   }

   &__content {
      top: 50%;
      left: 50%;
      z-index: 10;
      width: 100%;
      padding: 0 20px;
      transform: translateY(-50%) translateX(-50%);
   }

   &__title {
      margin-bottom: 10px;
      color: var(--color_base);
      font: var(--font_sec6_title);
      text-align: center;
   }

   &__subtitle {
      margin-bottom: 30px;
      color: var(--color_base);
      font: var(--font_subtitle);
      text-align: center;
      @include xl {
         font: 400 24px/1.45 "Montserrat";
      }
   }

   &__cta {
      margin-bottom: 30px;
      color: var(--color_base);
      font: 600 18px/1.45 "Montserrat";
      text-align: center;
      @include md {
         font: 600 20px/1.45 "Montserrat";
      }
      @include lg {
         font: 600 24px/1.45 "Montserrat";
      }
      @include xl {
         font: 600 28px/1.45 "Montserrat";
      }
      @include xxl {
         margin-bottom: 50px;
         font: 600 32px/1.45 "Montserrat";
      }
      @include xxl {
         font: 600 38px/1.45 "Montserrat";
      }
   }
}
