.section-3 {
   padding: 100px 20px;
   background-color: var(--color_secondary);

   &__content {
      gap: 15px;
      max-width: 540px;
      margin: 0 auto 50px;
      @include lg {
         max-width: 680px;
      }
      @include xl {
         grid-area: content;
         margin: 0;
      }
      @include xxl {
         max-width: 850px;
      }
   }

   &__title {
      margin-bottom: 15px;
      font: var(--font_sec3_title);
   }

   &__text {
      font: var(--font_text);

      &:nth-child(6) {
         margin-top: 25px;
      }
      @include xl {
         max-width: 550px;
      }
      @include xxl {
         max-width: 800px;
      }
   }

   &__img-box {
      max-width: 540px;
      height: clamp(20rem, 0.1907rem + 93.2203vw, 33.75rem);
      margin: 0 auto;
      @include lg {
         max-width: 680px;
         height: 680px;
      }
      @include xl {
         grid-area: img;
         max-width: 100%;
         height: 100%;
         margin: 0;
      }
   }

   &__img-1 {
      top: 0;
      left: 0;
      width: 85%;
      height: auto;
      border-radius: 100%;
      @include xl {
         top: auto;
         bottom: 0;
         max-width: 480px;
      }
      @include xxl {
         bottom: 0;
         width: 500px;
         max-width: none;
      }
      @include xxxl {
         width: 580px;
      }
      @media (min-width: 1780px) {
         width: 660px;
      }
   }

   &__img-2 {
      right: 0;
      bottom: 0;
      z-index: 1;
      width: 55%;
      max-width: 220px;
      height: auto;
      border-radius: 100%;
      @include lg {
         max-width: 300px;
      }
      @include xl {
         top: 0;
         bottom: auto;
      }
      @include xxl {
         max-width: 330px;
      }
      @include xxxl {
         max-width: 380px;
      }
      @media (min-width: 1780px) {
         max-width: 400px;
      }
   }

   @include xl {
      display: grid;
      grid-template-areas: "content img";
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      padding: 120px 20px;
   }
   @include xxl {
      padding: 140px 30px;
   }
   @include xxxl {
      padding: 180px 30px;
   }
}
