@font-face {
   font-weight: 400;
   font-family: "Circe";
   font-style: normal;
   src: local(""), url("../fonts/Circe-Regular.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/Circe-Regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   font-display: swap;
}
@font-face {
   font-weight: 600;
   font-family: "Circe";
   font-style: normal;
   src: local(""), url("../fonts/Circe-Bold.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/Circe-Bold.woff2") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   font-display: swap;
}
@font-face {
   font-weight: 400;
   font-family: "Montserrat";
   font-style: normal;
   src: local(""), url("../fonts/montserrat-v25-latin-regular.woff2") format("woff2"),
      /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/montserrat-v25-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
   font-display: swap;
}
