.page {
   overflow-x: hidden;
   max-width: 2000px;
   margin: 0 auto;
   &.pop-up {
      overflow: hidden;
   }
}
.contain {
   contain: layout paint;
}
.co-vi {
   content-visibility: auto;
}
.tag {
   margin-bottom: 35px;
   &-text {
      padding: 5px 18px;
      border-radius: 48px;
      background-color: var(--color_pink);
      font: var(--font_tag);
      color: var(--color_base);
      @include md {
         padding: 7px 20px;
      }
      @include lg {
         padding: 7px 22px;
      }
      @include xxl {
         padding: 10px 30px;
      }
   }
}

.t-up {
   text-transform: uppercase;
}
.t-lw {
   text-transform: none;
}
.br {
   border-radius: 20px;
   @include md {
      border-radius: 28px;
   }
}
.wp-100 {
   width: 100%;
}
.h-a {
   height: auto;
}
.m-a {
   margin: 0 auto;
}

/* Dispaly */
.d-f {
   display: flex;
}
.d-g {
   display: grid;
}
.d-b {
   display: block;
}
.d-ib {
   display: inline-block;
}
.d-n {
   display: none;
}

/* Position */
.p-a {
   position: absolute;
}
.p-r {
   position: relative;
}
.p-s {
   position: sticky;
}
.p-f {
   position: fixed;
}

/* Grid properties */
.gap {
   gap: 15px;
   @include lg {
      gap: 25px;
   }
}

/* Flex properties */
.fd-c {
   flex-direction: column;
}
.jc-c {
   justify-content: center;
}
.ai-c {
   align-items: center;
}
.ai-fs {
   align-items: flex-start;
}

/* Background color */
.bg-b {
   background-color: var(--color_base);
}
.bg-p {
   background-color: var(--color_primary);
}
.bg-s {
   background-color: var(--color_secondary);
}
.bg-pink {
   background-color: var(--color_pink);
}
