:root {
   --color_base: #fff;
   --color_primary: #fcf4f2;
   --color_secondary: #f1d9d1;
   --color_text: #062e2e;
   --color_pink: #ccb1a8;

   --font_title: 400 32px/1.3 "Circe";
   --font_subtitle: 400 15px/1.45 "Montserrat";
}

@include sm {
   :root {
      --font_title: 400 40px/1.3 "Circe";
      --font_subtitle: 400 16px/1.45 "Montserrat";
   }
}

@include md {
   :root {
      --font_title: 400 52px/1.3 "Circe";
   }
}
@include lg {
   :root {
      --font_title: 400 62px/1.3 "Circe";
   }
}
@include xl {
   :root {
      --font_title: 400 68px/1.3 "Circe";
      --font_subtitle: 400 18px/1.45 "Montserrat";
   }
}
@include xxl {
   :root {
      --font_title: 400 90px/1.3 "Circe";
      --font_subtitle: 400 22px/1.45 "Montserrat";
   }
}
