:root {
   --color_base: #fff;
   --color_primary: #fcf4f2;
   --color_secondary: #f1d9d1;
   --color_text: #062e2e;
   --color_pink: #ccb1a8;

   --font_title: 400 32px/1.3 "Circe";
   --font_subtitle: 400 15px/1.45 "Montserrat";
   --font_text: 400 14px/1.45 "Montserrat";
   --font_tag:  400 14px/1.45 "Circe";
   --font_sec3_title: 400 26px/1.3 "Circe";
}

@include sm {
   :root {
      --font_title: 400 40px/1.3 "Circe";
      --font_subtitle: 400 16px/1.45 "Montserrat";
      --font_text: 400 16px/1.45 "Montserrat";
      --font_tag:  400 16px/1.45 "Circe";
      --font_sec3_title: 400 32px/1.3 "Circe";
   }
}

@include md {
   :root {
      --font_title: 400 52px/1.3 "Circe";
      --font_text: 400 18px/1.45 "Montserrat";
      --font_tag:  400 18px/1.45 "Circe";
      --font_sec3_title:400 38px/1.3 "Circe";
   }
}
@include lg {
   :root {
      --font_title: 400 62px/1.3 "Circe";
      --font_text: 400 20px/1.45 "Montserrat";
      --font_tag: 400 18px/1.45 "Circe";
      --font_sec3_title: 400 42px/1.3 "Circe";
   }
}
@include xl {
   :root {
      --font_title: 400 68px/1.3 "Circe";
      --font_subtitle: 400 18px/1.45 "Montserrat";
      --font_sec3_title: 400 44px/1.3 "Circe";
      --font_tag: 400 20px/1.45 "Circe";
      --font_text: 400 18px/1.45 "Montserrat";
   }
}
@include xxl {
   :root {
      --font_title: 400 90px/1.3 "Circe";
      --font_subtitle: 400 22px/1.45 "Montserrat";
      --font_sec3_title: 400 52px/1.3 "Circe";
      --font_text: 400 20px/1.45 "Montserrat";
   }
}
@include xxxl {
   :root {
      --font_sec3_title: 400 68px/1.3 "Circe";
      --font_text: 400 22px/1.45 "Montserrat";
      --font_tag: 400 26px/1.45 "Circe";
   }
}
