<footer class="footer">
   <div class="footer__separator"></div>
   <div class="footer__grid-container">
      <img class="footer__logo" src="/img/svg/logo-dark.svg" loading="lazy" alt="Logo" width="100" height="17" />
      <div class="footer__social">
         <ul class="footer__social-list">
            <li class="footer__social-item">
               <a class="footer__social-link" href="#">Telegram</a>
            </li>
            <li class="footer__social-item">
               <a class="footer__social-link" href="#">Instagram</a>
            </li>
            <li class="footer__social-item">
               <a class="footer__social-link" href="#">Twitter</a>
            </li>
            <li class="footer__social-item">
               <a class="footer__social-link" href="#">Vkontakte</a>
            </li>
         </ul>
      </div>
      <nav class="footer__nav">
         <ul class="footer__nav-list">
            <li class="footer__nav-item">
               <a class="footer__nav-link" href="#">Home</a>
            </li>
            <li class="footer__nav-item">
               <a class="footer__nav-link" href="#">Services</a>
            </li>
            <li class="footer__nav-item">
               <a class="footer__nav-link" href="#">Price</a>
            </li>
            <li class="footer__nav-item">
               <a class="footer__nav-link" href="#">Actions</a>
            </li>
            <li class="footer__nav-item">
               <a class="footer__nav-link" href="#">Certificates</a>
            </li>
            <li class="footer__nav-item">
               <a class="footer__nav-link" href="#">Specialists</a>
            </li>
         </ul>
      </nav>
      <div class="footer__info">
         <a class="footer__info-phone" href="tel:+11562435063">+1-156-243-50-63</a>
         <address class="footer__info-adress">Naro-Fominsk, Tureka Park, 26</address>
      </div>
      <div class="footer__policy">
         <p class="footer__policy-copy">© FOX.LAB 2022. All rights reserved.</p>
         <p class="footer__policy-ps">All prices indicated on the site are exclusively informative and are not a public offer</p>
         <a class="footer__policy-link" href="#">Privacy Policy</a>
      </div>
   </div>
</footer>
<script src="/js/vendor.min.js"></script>
<script src="/js/script.min.js"></script>
