<header class="header">
   <div class="container">
      <div class="header__flex-container">
         <a class="header__logo" href="#">
            <img class="header__logo-img header__logo-white" src="/img/svg/logo-white.svg" loadin="lazy" alt="Logo" width="120" height="20" />
            <img class="header__logo-img header__logo-dark" src="/img/svg/logo-dark.svg" loadin="lazy" alt="Logo" width="120" height="20" />
         </a>
         <a class="header__toggler" role="button">
            <span class="header__toggler-icon"></span>
         </a>
         <nav class="header__nav">
            <ul class="header__nav-list">
               <li class="header__nav-item"><a class="header__nav-link" href="#">About</a></li>
               <li class="header__nav-item"><a class="header__nav-link" href="#">Services</a></li>
               <li class="header__nav-item header__dropdown">
                  <a class="header__nav-link header__dropdown-toggle" href="#" role="button">Price</a>
                  <ul class="header__dropdown-menu">
                     <li class="header__dropdown-item"><a class="header__dropdown-link" href="#">Laser hair removal</a></li>
                     <li class="header__dropdown-item"><a class="header__dropdown-link" href="#">For face</a></li>
                     <li class="header__dropdown-item"><a class="header__dropdown-link" href="#">For body</a></li>
                  </ul>
               </li>
               <li class="header__nav-item"><a class="header__nav-link" href="#">Actions</a></li>
               <li class="header__nav-item"><a class="header__nav-link" href="#">Certificates</a></li>
               <li class="header__nav-item"><a class="header__nav-link" href="#">Specialists</a></li>
               <li class="header__nav-item"><a class="header__nav-link" href="#">Contacts</a></li>
            </ul>
            <div class="header__mob-box">
               <div class="header__social">
                  <a class="header__social-item" href="#">
                     <img class="header__social-icon" src="/img/svg/header__inst.svg" loading="lazy" alt="Instagram" width="20" height="20" />
                  </a>
                  <a class="header__social-item" href="#">
                     <img class="header__social-icon" src="img/svg/header__tg.svg" loading="lazy" alt="Telegram" width="35" height="35" />
                  </a>
                  <a class="header__social-item" href="#">
                     <img class="header__social-icon" src="/img/svg/header__vk.svg" loading="lazy" alt="Vkontakte" width="35" height="35" />
                  </a>
               </div>
               <a class="header__btn" href="#">Sign up</a>
            </div>
         </nav>
      </div>
   </div>
</header>
