<head>
   <!-- МЕТА -->
   <title>@title</title>
   <meta charset="utf-8" />
   <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <meta name="url" content="@url" />
   <meta name="identifier-URL" content="@identifierURL" />
   <link rel="canonical" href="@canonical" />
   <meta name="description" content="@description" />
   <meta name="keywords" content="@keywords" />
   <meta name="category" content="Servise" />
   <meta name="copyright" content="2022.LLC «FOX.LAB»" />
   <meta name="author" content="Nikita Suchkov, suchkov8520@gmail.com" />
   <meta name="robots" content="index,follow" />
   <meta name="googlebot" content="index,follow" />

   <meta http-equiv="x-ua-compatible" content="ie=edge" />
   <meta name="theme-color" content="#ffffff" />
   <meta name="msapplication-TileColor" content="#ffffff" />
   <meta name="msapplication-TileImage" content="/img/icon/favicon-270x270" />

   <!-- Подключенные стили -->
   <link rel="stylesheet" href="@style" type="text/css" />
   <!-- <link rel="stylesheet" href="/css/vendor.min.css" type="text/css" /> -->

   <!-- Подключаем фавиконы  -->
   <link rel="shortcut icon" href="/img/icon/favicon.ico" type="image/x-icon" sizes="64x64" />
   <link rel="apple-touch-icon" href="/img/icon/favicon-60x60.png" type="image/png" sizes="60x60" />
   <link rel="apple-touch-icon" href="/img/icon/favicon-76x76.png" type="image/png" sizes="76x76" />
   <link rel="apple-touch-icon" href="/img/icon/favicon-152x152.png" type="image/png" sizes="152x152" />
   <link rel="apple-touch-startup-image" href="/img/icon/favicon-start.png" type="image/png" />

   <!-- Опен граф мета теги -->
   <meta property="og:title" content="@title" />
   <meta property="og:site_name" content="@siteName" />
   <meta property="og:type" content="website" />
   <meta property="og:url" content="https://foxlab-nf.ru/" />
   <meta property="og:image" content="img/png/preview.png" />
   <meta property="og:description" content="@description" />
   <meta property="og:country-name" content="RU" />
   <meta property="og:locality" content="Moscow" />
</head>
