.section-5 {
   padding: 0 20px 80px 20px;
   background-color: var(--color_primary);
   @include lg {
      padding: 0 30px 80px 30px;
   }
   @include xl {
      padding: 0 30px 100px 30px;
   }
   @include xxl {
      padding: 0 30px 140px 30px;
   }
   @include xxxl {
      padding: 0 30px 160px 30px;
   }

   &__header {
      margin-bottom: 30px;
      @include lg {
         margin-bottom: 50px;
      }
   }

   &__tag {
      margin-bottom: 35px;
      &-text {
         padding: 5px 18px;
         border-radius: 48px;
         background-color: var(--color_pink);
         font: var(--font_tag);
         color: var(--color_base);
         @include md {
            padding: 7px 20px;
         }
         @include lg {
            padding: 7px 22px;
         }
         @include xxl {
            padding: 10px 30px;
         }
      }
   }

   &__title {
      font: var(--font_sec3_title);
   }

   &__offer {
      grid-template-columns: 1fr;
      @include md {
         grid-template-columns: 1fr 1fr;
         grid-template-areas:
            "of_1 img"
            "of_1 of_2"
            "of_3 of_4";
      }
      @include xxl {
         grid-template-columns: 1fr 1fr 1fr;
         grid-template-areas:
            "of_1 img of_2"
            "of_1 of_3 of_4";
      }

      &-item {
         padding: 20px;
         background-color: var(--color_secondary);
         @include sm {
            padding: 25px;
         }
         @include lg {
            padding: 30px;
         }
         @include xxl {
            padding: 40px;
         }
      }
      &-btn {
         width: 35px;
         height: 35px;
         margin-bottom: 30px;
         border-radius: 100px;
         background-color: var(--color_pink);
         @include sm {
            width: 40px;
            height: 40px;
         }
         @include md {
            width: 45px;
            height: 45px;
         }
         @include xxl {
            width: 50px;
            height: 50px;
         }
         @include xxxl {
            width: 55px;
            height: 55px;
         }
      }
      &-text {
         font: 400 15px/1 "Montserrat";
         color: var(--color_base);
         @include sm {
            font: 400 16px/1 "Montserrat";
         }
         @include xxl {
            font: 400 18px/1 "Montserrat";
         }
         @include xxxl {
            font: 400 20px/1 "Montserrat";
         }
      }

      &-title {
         font: 600 18px/1.3 "Circe";
         margin-bottom: 30px;
         @include sm {
            font: 600 20px/1.3 "Circe";
            max-width: 350px;
         }
         @include md {
            font: 600 22px/1.3 "Circe";
         }
         @include lg {
            font: 600 24px/1.3 "Circe";
         }
         @include xxl {
            font: 600 26px/1.3 "Circe";
         }
         @include xxxl {
            font: 600 30px/1.3 "Circe";
         }
      }

      &-bullet {
         gap: 25px;
      }

      &-bullet-item {
         gap: 10px;
         font: 400 14px/1.45 "Montserrat";
         @include sm {
            font: 400 16px/1.45 "Montserrat";
            max-width: 350px;
         }
         @include md {
            font: 400 15px/1.45 "Montserrat";
         }
         @include lg {
            font: 400 16px/1.45 "Montserrat";
         }
         @include xxl {
            font: 400 18px/1.45 "Montserrat";
         }
         @include xxxl {
            font: 400 22px/1.45 "Montserrat";
         }
         &::before {
            content: " ";
            display: inline-block;
            min-width: 4px;
            min-height: 4px;
            max-height: 4px;
            margin-top: 8px;
            border-radius: 100px;
            background-color: var(--color_text);
            @include xl {
               min-width: 6px;
               min-height: 6px;
               max-height: 6px;
               margin-top: 9px;
            }
         }
      }
   }

   &__picture {
      @include md {
         grid-area: img;
      }
   }

   &__img {
      width: 100%;
      height: auto;
      min-height: 200px;
      object-fit: cover;
      @include xxl {
         min-height: 335px;
      }
      @include xxl {
         min-height: 362px;
      }
   }

   &__offer-1 {
      @include md {
         grid-area: of_1;
      }
   }

   &__offer-2 {
      @include md {
         grid-area: of_2;
      }
   }

   &__offer-3 {
      @include md {
         grid-area: of_3;
      }
   }

   &__offer-4 {
      @include md {
         grid-area: of_4;
      }
   }
}
