.section-4 {
   overflow-x: hidden;
   padding: 90px 0px;
   background-color: var(--color_primary);
   contain: layout paint;
   @include lg {
      padding: 120px 0px;
   }
   @include xl {
      padding: 140px 0px;
   }
   @include xxl {
      padding: 160px 0px;
   }

   &__marquee {
      &-text {
         display: inline-block;
         font: 400 45px/1 "Circe";
         height: 38px;
         @include md {
            font: 400 50px/1 "Circe";
            height: 43px;
         }
         @include xl {
            font: 400 60px/1 "Circe";
            height: 53px;
         }
      }
      &-elipse {
         display: inline-block;
         min-width: 8px;
         min-height: 8px;
         border-radius: 50px;
         background-color: var(--color_text);
      }
   }
   .js-marquee-wrapper {
      overflow: hidden;
      display: flex;
   }
   .js-marquee {
      display: flex;
      align-items: center;
      gap: 20px;
   }

   &__img-box {
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
         "img_1 img_2"
         "img_3 img_3"
         "img_4 img_5";
      margin: 30px 0;
      padding: 0 20px;
      gap: 15px;
      @include sm {
         margin: 40px 0;
      }
      @include md {
         grid-template-columns: 1fr 1fr 1fr;
         grid-template-areas:
            "img_1 img_5 img_4"
            "img_2 img_3 img_3";
      }
      @include lg {
         grid-template-columns: 1fr 1fr 1fr 1fr;
         grid-template-areas:
            "img_1 img_5 . img_4"
            ". img_2 img_3 img_3";
         padding: 0 30px;
         gap: 25px;
      }
      @include xxl{
         margin: 60px 0;
      }
   }

   &__picture-1 {
      grid-area: img_1;
   }
   &__picture-2 {
      grid-area: img_2;
   }

   &__picture-3 {
      grid-area: img_3;
   }
   &__img-3 {
      object-fit: cover;
      object-position: top;
      max-height: 435px;
      @include sm {
         height: 340px;
      }
      @include md {
         height: clamp(20.625rem, -1.8733rem + 46.8714vw, 27.189rem);
      }
      @include lg {
         height: clamp(18.93rem, -3.4377rem + 36.0769vw, 23.62rem);
      }
      @include xl {
         height: clamp(23.62rem, -2.6600rem + 35.0400vw, 28rem);
         max-height: 100%;
      }
      @include xxl {
         height: clamp(28rem, -3.1360rem + 35.5840vw, 33.56rem);
      }
      @include xxxl {
         height: clamp(33.56rem, -2.8669rem + 35.3231vw, 36.43rem);
      }
      @media (min-width: 1780px) {
         height: clamp(36.43rem, -3.0860rem + 35.5200vw, 40.87rem);
      }
   }

   &__picture-4 {
      grid-area: img_4;
   }
   &__picture-5 {
      grid-area: img_5;
   }
}
